doctype html
html
  head
    title Banco
    link*{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin: "anonymous"}
    script*{src: "https://code.jquery.com/jquery-2.2.0.js", crossorigin: "anonymous"}
    script*{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity: "sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin: "anonymous"}
  body
    .jumbotron
      h1 = banco[:nombre]
      ul
        - banco[:personas].each do |persona|
          li = persona[:nombre]
    span id='data' data-banco=banco_json

    .col-md-6
      h3 Crear Persona

      input id='nombre' name='nombre' type="text" placeholder="Nombre..."
      a.btn.btn-small.btn-primary.agregar-persona href="#" Agregar Persona

    script type='text/javascript'
      |
        var data = $('#data');
        var banco = data.data('banco');
        var agregar_persona = function(nombre) {
          banco['personas'].unshift(
            {
              'nombre': nombre,
              'cuentas': [
                {
                  'tipo': 'ahorro',
                  'monto': 0
                }
              ]
            }
          )
          data.data('banco', banco);
        }
        $('.agregar-persona').on('click', function() {
          agregar_persona($('#nombre').val());
          $.ajax({
            url: '/banco',
            type: 'POST',
            data: JSON.stringify({
              banco: data.data('banco')
            }),
            dataType: 'json',
            contentType: 'application/json',
            success: function() {
              location.reload(true);
            }
          });
        });
